[defaults]
inventory = ./aws_ec2.yml
private_key_file = ~/.ssh/AWS.pem
interpreter_python = /usr/bin/python3
deprecation_warnings = False
#ansible_user = ubuntu                    # Since the ansible user is already defined in the SSH config, it doesn't need to be here
